# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build output
dist/
build/
out/
output/

# Coverage output
coverage/

# dotenv environment variables file
.env
